<%= form_tag("/relevancer/report", method: "post", id: "report", :onSubmit => "return validateReport()") do %>
  <%= hidden_field_tag "queryID", @queryId %>
  <%= hidden_field_tag "queryParam", @query_param %>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Timestamp</th>
      <th>Relevance</th>
    </tr>
  </thead>
  <tbody>
    <% @response.each_with_index do |hit, index| %>
      </tr>
      <%= hidden_field_tag "id_for_#{index}", hit["_id"] %>
      <td> <%= hit["_doc"][1] %> </td>
        <td> <%= hit["_doc"][2] %> </td>
        <td> <%= hit["_doc"][3] %> </td>
        <td>
          <%= select_tag("relevancy_for_#{index}", options_for_select( @options, -1), required: true) %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
  <%= submit_tag("Save") %>
<% end %>
