<h1>Relevancer</h1>


<%= form_tag("/search", method: "get", id: "search") do %>
  <%= label_tag(:q, "Queries for:") %>
  <%= text_field_tag(:q) %>
  <%= collection_select(:query, :id, @queries, :id, :name, {:prompt => true, :selected => @queryId}) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag("/relevancer/report", method: "post", id: "report", :onSubmit => "return validateReport()") do %>
  <%= hidden_field_tag "queryID", @queryId %>
  <%= hidden_field_tag "queryParam", @query_param %>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Timestamp</th>
      <th>Relevance</th>
    </tr>
  </thead>
  <tbody>
    <% @response["hits"]["hits"].each_with_index do |hit, index| %>
      </tr>
      <%= hidden_field_tag "id_for_#{index}", hit["_id"] %>
      <td> <%= hit["_source"]["title"] %> </td>
        <td> <%= hit["_source"]["text"][0,500] %> </td>
        <td> <%= hit["_source"]["timestamp"] %> </td>
        <td>
          <%= select_tag("relevancy_for_#{index}", options_for_select( @options, -1), required: true) %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
  <%= submit_tag("Save") %>
<% end %>
