<%= form_tag("/relevancer/report", method: "post", id: "report") do %>
  <%= hidden_field_tag "queryID", @queryId %>
  <%= hidden_field_tag "queryParam", @query_param %>

  <table class="search_results">
    <thead>
      <tr class="search_header" >
      <% @fields.each do |field| %>
          <th> <%= field.name.capitalize %> </th>
      <% end %>
      <th>Relevance</th>
    </tr>
  </thead>
  <tbody>
    <% @response.each_with_index do |hit, index| %>
      <tr class="search_result">
      <%= hidden_field_tag "id_for_#{index}", hit["_id"] %>
        <td class="first"> <%= hit["_doc"][1] %> </td>
        <td> <%= raw hit["_doc"][2] %> </td>
        <td> <%= hit["_doc"][3] %> </td>
        <td>
          <%= select_tag("relevancy_for_#{index}", options_for_select( @options, -1), required: true, class: "relevancy_select") %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
  <%= submit_tag("Save", class: 'submit_button') %>
<% end %>
