<h1> Schema Management </h1>

<p> Manage your search schema configuration from this page. </p>


<%= form_tag("/admin/schema/fields", method: "post") do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:indices, "Index:") %>
  <%= select_tag "index", options_for_select(@indices), { :include_blank => true } %>

  <h3> Select fields: </h3>

  <div id="results"></div>
<br/>
  <%= button_tag("Add new schema") %>
<% end %>

