<h3> Available Queries </h3>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th> 
    <th>Query</th>
    <th>CreatedAt</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td><%= query.id %></td>
    <td><%= query.name %></td> 
    <td><code><%= JSON.pretty_generate(JSON.parse(query.json)) %></code></td>
    <td><%= query.created_at %></td>
    <td>
      <%= button_to "Edit", { action: "edit", id: query.id }, method: "get" %>
    </td>
    <td> 
    <%= button_to('Delete', { action: "destroy", id: query.id },
          method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
    </td>
  </tr>
<% end %>
</table>
