<!DOCTYPE html>
<html>
  <head>
    <title>Relevancer -  Admin Panel</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin_app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div id="page">
      <div id="menu_bar">
        <h3> Menu </h3>
        <ul>
          <li> <%= link_to 'Queries', :admin_query_index  %> </li>
          <li> <%= link_to 'Schema', :admin_schema_index  %> </li>
          
        </ul>
      </div>
      <div id="body">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>

      </div>
    </div>

  </body>
</html>
